body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.faq-container {
  width: 400px;
  margin: 80px auto;
}

.faq {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
}

.answer {
  display: none;
  margin-top: 10px;
  color: #555;
}
